{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="card w-75 mt-5 mx-auto">
        <div class="card-header text-center">
            <h1>Welcome, Please Register</h1>
        </div>
        <div class="card-body">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
            <div class="text-center">
                <button class="btn btn-lg btn-primary w-25" type="submit" class="btn">Register</button>
            </div>
        {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
