{% extends 'base.html.twig' %}

{% block title %}Node Magister{% endblock %}

{% block body %}
<div class="container my-5 card py-3 px-5">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            Error was found in your form, please, check your fields
        </div>
    {% endif %}
    {% if app.user %}
    <div class="text-center my-2">
        <h6 class="font-weight-light font-italic">We are listening to you {{ app.user.email }}</h6>
    </div>
    {% else %}
    <div class="text-center my-2">
        <h6 class="font-weight-light font-italic ml-auto pb-2">Hello visitor, what do you want to know ?</h6>
    </div>
    {% endif %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <div class="text-center">
            <button class="btn btn-primary col-2">{{ button_label|default('Send') }}</button>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
